*{
    margin: 0;
    padding: 0;
}
section{
    background-color: rgba(255,255,255,.3);
    padding: 20px;
    box-shadow: 2px 2px 5px #13aa52;
    border-radius: 15px;
    width: 85%;
    text-align: center;
    color: #13aa52;
    padding-bottom: 2rem;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding-top: 7rem;
}
h1{
    font-size: 2rem;
    padding-bottom: 2rem;

}
p{
    font-size: 1.4rem;
    padding-bottom: 2rem;

}



/* CSS */
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 45px;
  }
}